.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    background-color:#ffffff;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.container .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.navigation .button {
    color: #667085;
    size: 16px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}
.navigation-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navigation-actions a {
    color: #667085;
    cursor: pointer;
}

.search input[type="text"] {
    width: 319px;
    height: 32px;
    padding: 0 35px 0 35px;
    background: url('../../../assets/search.svg') no-repeat 10px center;
    background-size: 20px;
    border: 0.5px solid #424242;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.cart {
    margin: 0px 15px 0px 15px;
}

.cart .cart-item-numbers {
    background-color: #41CCCC;
    border: 2px solid #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -7px;
    bottom: -7px;
    width: 14px;
    height: 14px;
}
.cart .cart-item-numbers span {
    display: flex;
    align-items: center;
    width: 7px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.1px;
    color: #344054;
}