.container {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    margin: auto;
    margin-top: 80px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.breadcrumbs p {
    font-family: Inter;
    font-size: 14px;
    color: #1E1E1E;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

.breadcrumbs .searchQuery-span {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    color: #1E1E1E;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 145px;
}

.category-list {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: fit-content;
    border: 0.5px solid #424242;
    border-radius: 8px;
    padding: 10px;
}

.categories {
    margin-top: 20px;
}

.category {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #41CCCC;
    border-radius: 8px;
    position: relative;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.category input[type="radio"]:checked::before {
    content: "";
    width: 5.25px;
    height: 5.25px;
    background-color: #41CCCC;
    border-radius: 8px;
    position: absolute;
    top: 4.38px;
    left: 4.38px;
}

.category label {
    font-size: 14px;
}
.search-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-bottom: 22px;
}
.search-filter .sort-by {
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px;
    color: #1E1E1E;
}
.search-filter .sort-by select{
    appearance: none;
    border: none;
    outline: none;
    color: #1E1E1E;
}
.search-filter .sort-by select option {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #1E1E1E;
}
.products {
    flex: 1;
}

.product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    width: 282px;
    border: 0.5px solid #424242;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-item .details {
    position: relative;
}
.product-item .discount-percentage {
    width: 71px;
    height: 23px;
    position: absolute;
    top: 12px;
    left: 13px;
    border-radius: 4px;
    background-color: #41CCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item .discount-percentage span {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.52px;
    color: #344054;
   
}
.product-item .details img {
    width: 282px;
    height: 257px;
    border-radius: 8px;
}

.product-item .details h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    color: #344054;
    margin-left: 10px;
}

.product-item .details p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #344054;
    margin-left: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}
.price p {
    font-weight: 700;
    color: #344054;
}
.price span {
    font-weight: 100;
    color: #344054;
}

.product-price-original {
    text-decoration: line-through;
}

.informations {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin: 10px;
}

.information {
    display: flex;
    flex-direction: column;
}
.information p {
    margin: 2px;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 600;
    color: #344054;
}

.information p span {
    font-weight: 400;
}

.rating {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    height: 22px;
}

.rating-number {
    margin-left: 5px;
    font-weight: 700;
    color: #F4B000;
}

.reviews {
    font-size: 14px;
    font-weight: 400;
    color: #1E1E1E;
}

.add-to-cart {
    margin-top: 10px;
    background-color: #41CCCC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #344054;
    font-weight: 700;
    line-height: 21.79px;
    font-size: 16px;
    /* width: 250px; */
    height: 50px;
}

.pagination-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
.pagination-controls button {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 0.1px solid #30375014;
    cursor: pointer;
}
.page-numbers {
    display: flex;
    gap: 5px;
}

.page-numbers button {
    border: 1px solid #F6F6F6;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.page-numbers button span {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1E1E1E;
}

.page-numbers button.active {
    background-color: #41CCCC;
    color: #1E1E1E;
}

.page-numbers button:hover:not(.active) {
    background-color: #f1f1f1;
}

.page-numbers span {
    display: flex;
    align-items: center;
    justify-content: center;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}