<div class="container">
    <div class="navigation">
        <div class="title"><span *ngIf="!searchQuery">Products</span> <span *ngIf="searchQuery">{{ searchQuery }}</span></div>
        <div class="breadcrumbs">
            <p>Home / Products / <span *ngIf="selectedCategory">{{selectedCategory}}</span> <span *ngIf="searchQuery" class="searchQuery-span">{{ searchQuery }}</span></p>
        </div>
    </div>
    <div class="content">
        <div class="category-list">
            <h2>Products</h2>
            <div class="categories">
                <div class="category">
                    <input type="radio" name="select-Category" id="select-All" [value]="null" [(ngModel)]="selectedCategory" (click)="viewAllProducts()" />
                    <label for="select-All">All ({{allProducts}})</label>
                </div>
                <div class="category" *ngFor="let category of categories">
                    <input type="radio" name="select-Category" [id]="category" [value]="category" [(ngModel)]="selectedCategory" (click)="getProductsByCategory(category)" />
                    <label [for]="category">{{ category }} ({{categoryCounts[category]}})</label>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="search-filter" *ngIf="searchQuery">
                <div class="Products-number">({{ totalItems }}) Products Found</div>
                <div class="sort-by">
                    Sort By: 
                    <select (change)="onSortChange($event)">
                        <option value="title">Title</option>
                        <option value="price">Price</option>
                        <option value="reviews">Popularity</option>
                        <option value="rating">Rating</option>
                    </select>
                </div>
            </div>
            <div class="product-list">
                <div *ngFor="let product of products" class="product-item">
                    <div class="details">
                        <div class="discount-percentage">
                            <span>- {{ product.discountPercentage }}%</span>
                        </div>
                        <img [src]="product.thumbnail" [alt]="product.description" />
                        <h3>{{ product.title }}</h3>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="price">
                        <p class="product-price-original">{{ product.price }} <span>USD</span></p>
                        <p class="product-price-discounted">
                            {{ product.price - (product.price * (product.discountPercentage / 100)) | number: '1.0-0' }} <span>USD</span>
                        </p>
                    </div>
                    <div class="informations">
                        <div class="information">
                            <p class="brand"><span>Brand:</span> {{ product.brand }}</p>
                            <p class="category"><span>Category:</span> {{ product.category }}</p>
                            <p class="stock"><span>In stock:</span> {{ product.stock }}</p>
                        </div>
                        <div class="rating">
                            <img src="assets/star.svg" alt="star" />
                            <p class="rating-number">{{ product.rating }}</p>
                            <p class="reviews">({{ product.reviews.length }})</p>
                        </div>
                        <button class="add-to-cart" (click)="addTOCart(product)">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <div class="pagination-controls">
                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                  <img src="assets/left.svg" alt="arrow-left">
                </button>
              
                <div class="page-numbers">
                  <ng-container *ngFor="let page of pageNumbers">
                    <button 
                      *ngIf="page !== '...'" 
                      (click)="onPageChange(page)" 
                      [ngClass]="{'active': page === currentPage}">
                      <span>{{ page }}</span>
                    </button>
                    <span *ngIf="page === '...'">...</span>
                  </ng-container>
                </div>
              
                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * pageSize >= totalItems">
                  <img src="assets/right.svg" alt="arrow-right">
                </button>
              </div>              
        </div>
    </div>
</div>